.blurredCircle {
  background: conic-gradient(from 180deg at 50% 50%, #20dceb 0deg, #1d3f59 120.07deg, #f18e28 179.52deg, #20dceb 241.65deg, #0470e5 299.6deg, #f18e28 360deg);
  border-radius: 50%;
  font-size: 200px;
  height: 1em;
  width: 1em;
  filter: blur(32px);
  position: absolute;
  top: -80px;
  left: 290px;
  z-index: -1;
}
.blurredCircleV2 {
  background: conic-gradient(from 180deg at 50% 50%, #20dceb 241.65deg, #0470e5 299.6deg, #f18e28 360deg, #20dceb 0deg, #1d3f59 120.07deg, #f18e28 179.52deg);
  border-radius: 50%;
  font-size: 200px;
  height: 1em;
  width: 1em;
  filter: blur(32px);
  position: absolute;
  top: -80px;
  right: 400px;
  z-index: -1;
}
.blurredCircleV3 {
  background: conic-gradient(from 180deg at 50% 50%, #20dceb 241.65deg, #0470e5 299.6deg, #f18e28 360deg, #20dceb 0deg, #1d3f59 120.07deg, #f18e28 179.52deg);
  border-radius: 50%;
  font-size: 200px;
  height: 1em;
  width: 1em;
  filter: blur(32px);
  position: absolute;
  top: 380px;
  right: 200px;
  z-index: -1;
  opacity: 0.3;
}
.blurredCircleV4 {
  background: conic-gradient(from 180deg at 50% 50%, #20dceb 241.65deg, #0470e5 299.6deg, #f18e28 360deg, #20dceb 0deg, #1d3f59 120.07deg, #f18e28 179.52deg);
  opacity: 0.4;
  border-radius: 50%;
  font-size: 200px;
  height: 1em;
  width: 1em;
  filter: blur(32px);
  position: absolute;
  top: 200px;
  left: 200px;
  z-index: -1;
}
.blurredCircleV5 {
  background: conic-gradient(from 180deg at 50% 50%, #20dceb 241.65deg, #0470e5 299.6deg, #f18e28 360deg, #20dceb 0deg, #1d3f59 120.07deg, #f18e28 179.52deg);
  opacity: 0.4;
  border-radius: 50%;
  font-size: 200px;
  height: 1em;
  width: 1em;
  filter: blur(32px);
  position: absolute;
  bottom: -40px;
  left: 200px;
  z-index: -1;
}
.blurredCircleV6 {
  background: conic-gradient(from 180deg at 50% 50%, #20dceb 241.65deg, #0470e5 299.6deg, #f18e28 360deg, #20dceb 0deg, #1d3f59 120.07deg, #f18e28 179.52deg);
  opacity: 0.4;
  border-radius: 50%;
  font-size: 200px;
  height: 1em;
  width: 1em;
  filter: blur(32px);
  position: absolute;
  bottom: -40px;
  right: 300px;
  z-index: -1;
}

nav {
  backdrop-filter: blur(20px) saturate(200%);
  -webkit-backdrop-filter: blur(20px) saturate(200%);
  background-color: rgba(19, 23, 45, 0.71);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 0.7rem;
  display: flex;
  color: rgba(255, 255, 255, 0.671);
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

ul li {
  display: inline-block;
  padding: 8px 10px;
  font-weight: 700;
}
li a {
  color: #f18e28;
  text-decoration: none;
  transition: all 0.3s ease;
}
li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #20dceb;
}
.glassBg {
  backdrop-filter: blur(20px) saturate(200%);
  -webkit-backdrop-filter: blur(20px) saturate(200%);
  background-color: rgba(19, 23, 45, 0.71);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.cardContainer {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 13, 32, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  padding: 20px;
}
.cards {
  width: 300px;
  border: 1px solid #ff99003d;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  color: #f18e28;
  transition: all 0.3s ease-in-out;
}
.cards:hover {
  /* box-shadow: 5px 5px 13px #f18c285d; */
  border: 1px solid #00d9ff3d;
  scale: 1.05;
}
.cards img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}
.cards p {
  margin: 10px 10px 10px;
}

.cardPadding {
  padding: 1rem;
}
.buttonCard {
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: #0470e5;
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 125px;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
}
.buttonCard:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #0470e5;
}
footer {
  padding: 5rem;
  text-align: center;
  margin-top: 6.5rem;
  color: #f18e28;
}
footer h3 {
  text-shadow: 2px 2px 0px #0471e559;
}
